body {
    direction: rtl;
    background-color: black;
    /* background-image: url(./pictures/רקעיםלהזמנות/12.jpg); */
    margin-top: 15%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, Geneva, Verdana, sans-serif;
    color: rgb(150, 126, 5);
}

#top-nav {
    /* background-image: url(./pictures/שונות/ניווט\ עליון.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    position: fixed;
    width: 100%;
    top: 0px !important;
    z-index: 3;
    background-position: center;
    background-color: black;
   

}

#top-nav>div>h1 {
    text-align: center;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(25, 25, 25);
    font-family: 'Segoe UI';
}

#navpages {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

/* #navpages>li{
    border-style: solid;
    border-color: rgb(150, 126, 5);
    border-radius: 35%;
    border: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
}
img{
   width:120%;
} */
.picturesGeneral {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8%;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0px;
}

.gold {
    color: rgb(150, 126, 5);
}

.link {
    text-decoration-line: none;

}

li {
    list-style: none;
}

#usernametop {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
}

#usernametop>p {
    /* font-size: x-large; */
    font-weight: bold;
}

#usernametop>i {
    margin-bottom: 0%;
    padding-bottom: 0%;
    vertical-align: middle;
    align-self: center;
}

#titleNav {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#timer {
    align-items: center;

}

#timer>div>p {
    padding: 0px;
    margin: 0px !important;

}

#timer>div {
    background-color: rgb(54, 53, 53);

}

#timer {
    display: flex;
    gap: 10%;
    margin-left: 50px;
}

.flexform {
    display: flex;
    gap: 10%;
    justify-content: center;
}

#emailButton {
    background-color: black;
    border: none;
    text-decoration-line: underline;
}
.flex1{
    display: flex;
    gap: 5%;
}
.flex1>p{

    width: 10%;
}
#titlesUsers>p{

    font-weight: bold;
}
#emailButton2{
    background:none;
    border: none;
    text-decoration-line: underline;
}
#photographersLink{
    border: none;
    background: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
}
#forLittleWindow{
    z-index: 500;
    position: fixed;
    visibility: hidden;
    border: 1px solid black;
    padding: 20px;
    width: 100%;
    margin-left: auto;
    font-size: 30px;
    font-weight: bolder;
    background-color: black;
    color: rgb(150, 126, 5);
  
}

#forLittleWindow>img{
    width: 200px;
    height: 200px;
   top: 15%;
   text-align: center;
}
@media screen and (min-width:64px) and (max-width:1000px)
{
    body{
        visibility: hidden;

    }
    #forLittleWindow{
        visibility: visible;

    }
}




